.divDatosPasswords{
    /* border: 1px solid saddlebrown; */
    margin-top: 2.5rem;
}

.passwordActual{
    margin-bottom: 2.2rem;
}

.passwordNuevo{
    margin-bottom: 1.2rem;
}

.btnConfirmar{
    background-color: var(--second-bg-color);
    margin-right: 10px;    
    width: 150px;
    color: var(--second-text-color);
    padding: .8rem 0;
    border-color: var(--button-main-bg);
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.buttonAwaiting{
    background-color: #dedddd;
    color: var(--third-text-color);
    cursor: auto;
  }