#formularioDashboard {
    /* border: 1px solid crimson; */
    display: grid;
    gap: 1rem;
    grid-template:
        "titulo" auto        
        "error" auto
        "cuenta" auto
        "password" auto
        "personal" auto
        "otros" auto
        "botones" auto / 1fr;
  }

  .errorCampoOcultar{
    grid-area: error;
    border-radius: 5px;
  }

  .divCuenta{
    grid-area: cuenta;
  }

  .divCambiarPass{
    grid-area: password;
  }

  .divDatosPersonales{
    grid-area: personal;
  }
  
  .divDatosOtros{
    grid-area: otros;
  }

  .divTitulo{
      grid-area: titulo;
      padding: 0;
      margin: 0;
      text-align: center;
  }
  
  .tituloDashboard {
    color: var(--second-a-text-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.divDatosDashboard{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color-form);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.label{    
    margin-bottom: 7px;
    padding-left: 3px;
}

.input-dashboard{
    height: 40px;
    padding: 2px 7px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.linkCambiarPass{
  font-size: 1.1rem;
  color: var(--second-a-text-color);
  cursor: pointer;
}

.linkCambiarPass:hover{
    opacity: 0.9;
}

.divBotonesDashboard{    
  /* border: 1px solid green; */
    grid-area: botones;
    /* width: 100%; */
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.updateButton,
.deleteButton {
  width: 150px;
  color: var(--second-text-color);
  padding: .8rem 0;
  background-color: var(--button-main-bg);
  border-color: var(--button-main-bg);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.updateButton:hover,
.deleteButton:hover{
  opacity: 0.9;
  border-radius: 40px;
}

.deleteButton{
    background-color: crimson;
}

/************************************************************/
/**************Tablets y LAPTOPS/PC --> 600px + *************/
/************************************************************/
/************************************************************/
@media screen and (min-width: 600px){
    #formularioDashboard {
        grid-template:
            "titulo titulo" auto
            "error error" auto
            "cuenta personal" auto            
            "otros password" auto            
            "otros botones" auto / 1fr 1fr;       
    }
      
    .tituloDashboard {
        font-size: 1.9rem;
        font-weight: 600;
    }
    
    .divDatosDashboard{
        font-size: 1.4rem;
    }

    .divCambiarPass{
      display: flex;
      justify-content: center;
    }
    
    .input-dashboard{
        font-size: 1.1rem;
    }
    
    .linkCambiarPass{
        font-size: 1.3rem;
    }
    
    .updateButton,
    .deleteButton {
      width: 170px;
      padding: 0 .8rem;
      font-size: 1.2rem;
      height: 55px;
    }
}