#header{
    /* border: 1px solid crimson; */
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-icon-menu{
    width: 30px;
    cursor: pointer;
}

.logo-principal{    
    width: 70%;
    height: 80px;
    object-fit: cover;    
}

/* Diseño para tabletas */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    #header{
        justify-content: space-evenly;
        /* border: 1px solid green; */
    }
    
    .header-icon-menu{
        width: 45px;
        cursor: pointer;
    }
    
    .logo-principal{    
        width: 42%;
    }
}
  
/* Diseño para pc, laptops */
@media screen and (min-width: 1024px){
    #header{
        justify-content:flex-start;
        /* border: 1px solid green; */
    }

    .header-icon-menu{
        display: none;
    }

    .logo-principal{
        /* border: 1px solid goldenrod; */
        height: 110px;
        width: 30%;
        margin-left: 8rem;
    }
}
  