/*Configuración para usar las cajas*/
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;
  }

  :root {
    --main-bg-color: #FFFFFF;
    --second-bg-color: #1593B9;

    --main-text-color: #727272;
    --second-text-color: #FFFFFF;

    --main-a-text-color: #023859;
    --second-a-text-color: #1593B9;

    --button-main-bg: #77E2EA;

  }
  
  /*Estilos del cuerpo principal*/
  body {
    background-color: var(--main-bg-color); /*Color de fondo*/
    color: var(--main-text-color); /*Color de las fuentes*/
    display: grid; /*Grilla de filas para el header, main y footer*/
    min-height: 100%;
    /*Creamos un template-area para el maquetado general del sitio
      Diseño Mobile-First*/
    grid-template:
      "header navbar" 80px
      "main   main" 1fr
      "footer footer" auto / 1fr .3fr;
  }
  
  /*A los links se le quitan el subrayado*/
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Diseño para tabletas */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
      grid-template:
        "header header" 80px
        "navbar   main" 1fr
        "navbar footer" auto / 170px 1fr;
    }
  }
  
  /* Diseño para pc, laptops */
  @media screen and (min-width: 1025px){
    body {
      grid-template:
        "header navbar" 80px
        "main   main" 1fr
        "footer footer" auto / 1fr .8fr;
    }
  }
  