#main{
    grid-area: main;
    padding: 1.2rem;
    /* border: 1px solid crimson; */
    min-height: 400px;
}

.divErrorMain{
    display: none;    
}

.divErrorMainMostrar{
    display: block;
    border: 1px solid crimson;
    color: crimson;
    font-size: .7rem;
    padding: 8px;
}