#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 70%;
    width: 30%;
    height: 80px;
    background-color: var(--main-bg-color);    
}

.navbar-icons{
    width: 40px;
    cursor: pointer;
}

/* Menú principal */
.menu{    
    border: 1px solid var(--button-main-bg);
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column; /*Los acomoda uno debajo del otro*/
    margin: 0;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 80px; /*De acuerdo al alto del elemento anterior*/
    left: 100%;/*Opciones de menú fuera de pantalla*/
    transition: left 0.3s;
    width: 100%; /*Que ocupe todo el ancho*/
    height: auto; /*calc(70% - 80px); Ajusta el menú a la altura restante de la pantalla*/
    overflow-y: auto; /*Agrega scroll x si la pantalla supera el contenido*/
    color: var(--main-a-text-color);
    padding-bottom: 1rem;
    z-index: 1;  
}

#menu-items {
    /* border: 1px solid crimson; */
    line-height: 50px;
    font-size: 1.3rem;
    display: flex;    
}

.nav-link {
    /* border: 1px solid cornflowerblue; */
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
}

.nav-link:hover,
.menu li.selected span {
    background-color: var(--button-main-bg);
    color: var(--second-text-color);
    transition: 0.5s;
}

/*Opciones del menú se muestran a la izquierda*/
.nav-menu_visible{
    left: 0;
    transition: 0.5s;
}

/*******************
 *Menú del usuario**
 ******************/

.subMenuUser{
    /* border: 1px solid crimson; */
    display: block;
    border: 1px solid var(--second-bg-color);
    border-radius: 10px;
    list-style: none;    
    background-color: var(--main-bg-color);
    position: fixed;
    top: 80px; /*De acuerdo al alto del elemento anterior*/
    left: 100%;/*Opciones de menú fuera de pantalla*/
    transition: left 0.3s;
    width: 100%; /*Ancho a ocupar*/
    height: auto; 
    overflow-y: auto; /*Agrega scroll x si la pantalla supera el contenido*/
    color: var(--main-a-text-color);
    z-index: 1;  
}

#menu-items-user {    
    line-height: 40px;
    font-size: 1.1rem;
    display: flex;
    /* padding: 0 10px; */
    /* border: 1px solid crimson; */
    /* width: 100%; */
}
  
.menu-link-user {
    width: 100%;
    text-align: center;
}

.menu-link-user:hover,
.subMenuUser li.selected span {
    background-color: var(--button-main-bg);
    color: var(--second-text-color);
    transition: 0.5s;
}

.nav-menu-user_visible{
    /* top: 80px; */
    left: 0;
    transition: 0.5s;
}

/* Tabletas */
@media screen and (min-width: 600px) and (max-width: 1024px) {

    .navbar-icons{
        width: 50px;
    }

    /* Menú principal */
    .menu{
        width: 50%; /* Que ocupe todo el ancho */
        overflow-y: hidden;
    }

    #menu-items {
        /* border: 1px solid crimson; */
        line-height: 60px;
        font-size: 1.5rem;
    }

    #menu-items-user {    
        line-height: 50px;
        font-size: 1.3rem;
    }

    .nav-menu-user_visible{
        width: 30%;
        left: 60%;
    }
}

/*Laptops/Computadoras*/
@media screen and (min-width: 1024px){
    #navbar{
        align-items: flex-start;
        position: relative;
        left: 0;
        width: 200px;
        height: auto;
    }    

    .navbar-icons{
        margin-top: 1.2rem;
        width: 60px;
        cursor: auto;
    }

    /* Menú principal */
    .menu{    
        padding: 0;        
        border: none;
        top: 0;
        left: 45%;
        width: 100%;
        height: 110px;        
        border-radius: 0;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;        
    }

    #menu-items {
        /* border: 1px solid crimson; */
        line-height: 110px;
        width: calc(45% / 3);
        font-size: 1.5rem;
    }

    .nav-link-main:hover,
    .menu li.selected span {
        background-color: transparent;
        color: var(--second-a-text-color);
    }

    .subMenuUser{
        /* border: 1px solid green; */
        border: none;
        position: absolute;
        z-index: 0;
        left: 0;
        margin-top: .7rem;
    }
}