#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-icons{
    width: 40px;
    cursor: pointer;
}

/* Menú principal */
.menu{    
    /* border: 1px solid crimson; */
    list-style: none;
    display: flex;
    /*align-items: center; Centra opcion del menú horizontalmente*/
    flex-direction: column; /*Los acomoda uno debajo del otro*/
    margin: 0;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 80px; /*De acuerdo al alto del elemento anterior*/
    left: 100%;/*Opciones de menú fuera de pantalla*/
    transition: left 0.3s;
    width: 60%; /*Que ocupe todo el ancho*/
    height: auto; /*calc(70% - 80px); Ajusta el menú a la altura restante de la pantalla*/
    overflow-y: auto; /*Agrega scroll x si la pantalla supera el contenido*/
    color: var(--main-a-text-color);
    padding-bottom: 1rem;
}

#menu-items {
    /* border: 1px solid crimson; */
    line-height: 50px;
    font-size: 1.3rem;
    display: flex;    
}

.nav-link {
    /* border: 1px solid cornflowerblue; */
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.nav-link:hover,
.menu li.selected span {
    background-color: var(--button-main-bg);
    color: var(--second-text-color);
    transition: 0.5s;
}

/*Opciones del menú se muestran a la izquierda*/
.nav-menu_visible{
    left: 0;
    transition: 0.5s;
}

/*******************
 *Menú del usuario**
 ******************/

.subMenuUser{
    /* border: 1px solid crimson; */
    list-style: none;    
    background-color: var(--main-bg-color);
    position: fixed;
    top: calc(80px - 50%); /*De acuerdo al alto del elemento anterior*/
    left: 77%;/*Opciones de menú fuera de pantalla*/
    transition: left 0.3s;
    width: 22%; /*Ancho a ocupar*/
    height: auto; 
    overflow-y: auto; /*Agrega scroll x si la pantalla supera el contenido*/
    color: var(--main-a-text-color);
}

#menu-items-user {    
    line-height: 40px;
    font-size: 1.1rem;
    display: flex;    
}
  
.menu-link-user {
    width: 100%;
    text-align: center;
}

.menu-link-user:hover,
.subMenuUser li.selected span {
    background-color: var(--button-main-bg);
    color: var(--second-text-color);
    transition: 0.5s;
}

.nav-menu-user_visible{
    top: 80px;
    transition: 0.3s;
}

/* Tabletas */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .navbar-icons{
        width: 50px;
    }

    /* Menú principal */
    .menu{
        width: 40%; /*Que ocupe todo el ancho*/
        height: calc(65% - 80px); /*Ajusta el menú a la altura restante de la pantalla*/
        overflow-y: hidden;
    }

    #menu-items {
        /* border: 1px solid crimson; */
        line-height: 60px;
        font-size: 1.5rem;
    }

    #menu-items-user {    
        line-height: 50px;
        font-size: 1.3rem;
    }
}

/*Laptops/Computadoras*/
@media screen and (min-width: 1024px){
    #navbar{
        /* border: 1px solid blue; */
        grid-area: navbar;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        /* margin-left: 1px; */
    }

    .navbar-icons{
        /* border: 1px solid blue; */
        width: 50px;
        margin-top: 2rem;
        cursor:auto;
    }

    /* Menú principal */
    .menu{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--main-bg-color);
        position: absolute;
        top: 0; 
        left: 43%;
        width: 43%;
        height: 110PX;
        line-height: 110px;
        padding: 0;
        overflow-y: hidden;
    }

    #menu-items {
        /* border: 1px solid green; */
        line-height: 110px;
        font-size: 1.4rem;
        padding: 0 10px;
    }
    
    .nav-link-main:hover,
    .menu li.selected span {
        background-color: transparent;
        color: var(--second-a-text-color);
    }

    /*******************
    *Menú del usuario**
    ******************/

    .subMenuUser{
        /* border: 1px solid green; */
        background-color: var(--main-bg-color);
        position: absolute;
        top: 190px; /*De acuerdo al alto del elemento anterior*/
        left: 2px;
        width: 178px;
    }

    #menu-items-user {    
        line-height: 50px;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .nav-menu-user_visible{
        top: 190px;
        transition: 0;
    }
}