.spinnerContainer{
    /* border: 1px solid coral;     */
    position: absolute;
    margin-top: 14px;
    margin-left: 100px;
}

.spinnerImage{
    width: 24px;
    animation: spinner 1s linear infinite;
}

/*Animación*/
@keyframes spinner{
    to {
        transform: rotate(360deg);
    }
}

/************************************************************/
/**************Laptops/Computadoras --> 1024px + *************/
/************************************************************/
/************************************************************/

@media screen and (min-width: 1024px){ 
    .spinnerContainer{
        margin-left: 210px;
    }
}