.spinnerContainer{
    position: absolute;
    align-self: center;
}

.spinnerImage{
    width: var(--size-spinner);
    animation: spinner 1s linear infinite;
}

/*Animación*/
@keyframes spinner{
    to {
        transform: rotate(360deg);
    }
}