.spinnerContainer{
    /* border: 1px solid coral;     */
    position: absolute;
    padding-top: 15px;
    margin-left: 240px;
}

.spinnerImage{
    width: 24px;
    animation: spinner 1s linear infinite;
}

/*Animación*/
@keyframes spinner{
    to {
        transform: rotate(360deg);
    }
}